<div class="mb-5">
    <a href="{{ path("groupe_list") }}">
        <button type="button" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i>
            <span>Retour à la liste de mes groupes</span>
        </button>
    </a>
</div>
