:root {
    --primary-color: #1D3557;
    --secondary-color: #457b9d;
    --contrast-color: #E63946;
    --light-blue-color: #A8DADC;
    --white-color: #F1FAEE;
}

body {
    background-color: var(--white-color) !important;
}

h1, h2, h3, h4, h5 {
    color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-secondary {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;);
}

.btn-danger {
    background-color: var(--contrast-color) !important;
    border-color: var(--contrast-color) !important;
}

/* NAVIGATION -------------------------------------------------------------------------------------------------------*/
.navbar-light .navbar-nav .nav-item a.nav-link, #navbarSupportedContent .navbar-nav.user_nav span.nav-link{
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-item.active a, .navbar-light .navbar-nav .nav-item a:hover{
    color: var(--contrast-color);
}

.navbar-collapse .navbar-nav {
    padding-top: 15px;
}

/* CARD DETAILS SORTIES ---------------------------------------------------------------------------------------------*/
.image_details {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
