{% extends 'base.html.twig' %}


{% block body %}

    <h1>{{ title }}</h1>


{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

    <div class="container">
        {{ form(form) }}
    </div>


{% endblock %}