{% extends('base.html.twig') %}
{% block body %}
    <h2>Créer une sortie</h2>
    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <a href="{{ path('page_sortie') }}" class="btn btn-danger">Annuler</a>
        {{ form_end(sortieForm) }}

    </div>

{% endblock %}

{% block title %} Créer sortie {% endblock %}