
    <h2>Créer une sortie</h2>
    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button class="btn-primary"><a href="{{ path('page_sortie') }}">Annuler</a></button>
        {{ form_end(sortieForm) }}

    </div>

