{% extends('base.html.twig') %}
{% block body %}
    <div class="container">

    <div>
        {% form_theme sortieForm 'bootstrap_4_horizontal_layout.html.twig' %}

        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <a href="{{ path('page_sortie') }}" class="btn btn-danger">Annuler</a>
        {{ form_end(sortieForm) }}

    </div>
    </div>

{% endblock %}