<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img width="150px" src="{{ asset('images/logo2.svg') }}" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-3">
                <a class="nav-link" href="{{ path('accueil_index')}}"><i class="fas fa-house-user mr-2"></i>Accueil</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="#"><i class="fas fa-map-marker-alt mr-2"></i>Sorties</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog mr-2"></i>Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Villes</a>
                    <a class="dropdown-item" href="#">Sites</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav user_nav">
            {% if app.user %}
                <li class="nav-item mr-3">
                    <span class="nav-link"><i class="fas fa-user"></i> {{ app.user.username }}</span>
                </li>
                <li class="nav-item mr-3">
                    <span class="nav-link">Mon Profil</span>
                </li>
                <li class="nav-item  mr-3">
                    <a class="nav-link" href="logout"><i class="fas fa-user-times mr-2"></i>Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="login"><i class="fas fa-sign-in-alt mr-2"></i>Connexion</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>